SC-over-time/data/*
SC-over-time/.ipynb_checkpoints
SC-over-time/.ipynb_checkpoints/*

SC-Dapp-scraping/data/*
SC-Dapp-scraping/deprecated_data/*
SC-Dapp-scraping/address.txt
SC-Dapp-scraping/token.txt
SC-Dapp-scraping/.ipynb_checkpoints

SC-open-source-source-code-scraping/data/*

SC-energy-consumption/data/*

.DS_Store
.DS_Store?

nohup.out
SC-Dapp-scraping/Untitled.ipynb
SC-classification/CSC*
SC-classification/.ipynb_checkpoints/