SC-over-time/data/*
SC-over-time/.ipynb_checkpoints
SC-over-time/.ipynb_checkpoints/*
SC-over-time/.DS_Store

SC-Dapp-scraping/data/*
SC-Dapp-scraping/deprecated_data/*
SC-Dapp-scraping/address.txt
SC-Dapp-scraping/token.txt
SC-Dapp-scraping/.ipynb_checkpoints

SC-open-source-source-code-scraping/data/*

SC-energy-consumption/data/*

.DS_Store
.DS_Store?

nohup.out
SC-Dapp-scraping/Untitled.ipynb
SC-classification/CSC*
SC-classification/.ipynb_checkpoints/

SC-classification/models
SC-classification/models/*
SC-classification/results_BGRU.csv
SC-classification/results_BGRU2.csv
SC-classification/__pycache__/*
SC-classification/__pycache__
SC-classification/loop.py

SC-open-source-source-code-scraping/token.txt
SC-open-source-source-code-scraping/.ipynb_checkpoints/
SC-open-source-source-code-scraping/._.DS_Store

SC-literature-research/scopus/
SC-literature-research/scopus
SC-literature-research/scopus/*

SC-data-EDA/
SC-data-EDA

SC-classification/output_data/
SC-classification/output_data/*
SC-classification/output_data

SC-topics-unlabelled/data/unlabelled_withclusterlabels.csv

Images_from_diff_sources
